html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100%;
}

.controls {
  padding: 20px;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-container {
  padding: 0;
}

.btn-custom {
  margin-bottom: 10px;
  width: 80%;
}

/* Vacas Dentro */
#btnDentro {
  background-color: #28a745;
  color: white;
}

/* Vacas Fuera */
#btnFuera {
  background-color: #dc3545;
  color: white;
}

/* Vacas Dentro Buffer */
#btnDentroBuffer {
  background-color: #007bff;
  color: white;
}

/* Vacas Fuera Buffer */
#btnFueraBuffer {
  background-color: #b34fec;
  color: white;
}

/* Limpiar */
#btnLimpiar {
  background-color: #6c757d;
  color: white;
}
