html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100%;
}

.controls {
  padding: 20px;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-container {
  padding: 0;
}

.btn-custom {
  margin-bottom: 10px;
  width: 80%;
}